html,
body {
    background: #bbb;
    color: #444;
    font-family: 'Roboto', sans-serif;
}

#map {
    height: 100%;
}

#list {
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: auto;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 80%;
    max-width: 900px;
}

h1,
h2 {
    color: #D1495B;
    font-weight: normal;
    padding-top: .5em;
    text-transform: uppercase;
}

#list table {
    width: 100%;
}

#list table tr {
    line-height: 1.6em;
}

#list table tr:nth-child(even) {
    background: #eee;
}

a {
    color: #D1495B;
}

#welcome {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    z-index: 1000;
}

#welcome div {
    padding: 15px;
    width: 400px;
}

#welcome div h1,
#welcome div h2 {
    border-bottom: 1px solid #444;
    color: #53777A;
    font-weight: normal;
    padding-bottom: 5px;
    padding-top: 0;
}

#welcome div p,
#welcome div ul {
    font-size: 15px;
    line-height: 24px;
}

#welcome input+span {
    padding-left: 10px;
}

#welcome button {
    border: 1px solid #072B2E;
    background: #53777A;
    color: white;
    cursor: hand;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    padding: 8px;
    text-transform: uppercase;
    width: 400px;
}

#welcome button:hover {
    border-color: #001114;
    background: #3A5E61;
}

.bm-timer,
.bm-result,
.bm-answer,
.bm-map-request {
    background: white;
    text-align: center;
    width: 200px;
}

.bm-result {
    margin-top: 0 !important;
}

.bm-result ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding-left: 10px;
}

.bm-result ul li {
    border-bottom: 1px dotted rgba(0,0,0,0.16);
    line-height: 28px;
}

.bm-result span,
.bm-result strong {
    display: inline-block;
    width:80px;
}

.bm-result strong {
    text-align: right;
}

.bm-timer h1 {
    border-bottom: 1px solid rgba(0,0,0,0.16);
    border-top: 1px solid rgba(0,0,0,0.16);
    margin-left: 10px;
}

.leaflet-top.leaflet-right,
#welcome div {
    background: #fff;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top: 10px;
    margin-right: 10px;
}

.bm-answer {
    margin-top: 25px !important;
    padding-bottom: 25px;
}

.bm-answer input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.16);
    font-size: 16px;
    width: 170px;
}

.bm-answer input:focus {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,1);
    outline: none;
}

.leaflet-tooltip {
    padding-right: 25px;
}

.leaflet-tooltip ul {
    list-style: none;
}
